<h3>Component1</h3>

<p class="osVersion monospace">
    OS Version: @OsVersion
</p>

<p class="monospace">
    User name: @UserName
</p>

@code {
    public string OsVersion => Environment.OSVersion.VersionString;

    public string UserName => Environment.UserName;
}
